@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
  font-size: 6.25%;

  --theme-primary: #d87d4a;
  --theme-primary-alt: #fbaf85;

  --theme-neutral: #dedede;
  --theme-neutral-alt: #fdfdfd;

  --theme-danger: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p, button {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 33rem;
  letter-spacing: 1rem;
}

h2 {
  font-size: 30rem;
  letter-spacing: 1rem;
}

h3 {
  font-size: 22rem;
  letter-spacing: 1rem;
}

h4 {
  font-size: 20rem;
}

h5 {
  font-size: 18rem;
}

h6 {
  font-size: 17rem;
}

p{
  font-size: 16rem;
  line-height: 25rem;
}

label {
  display: block;
  padding: 5rem 0;
  font-size: 14rem;
}

button {
  padding: 12rem 20rem;
  font-size: 15rem;
  letter-spacing: 1rem;
  font-weight: bold;
}

.light {
  color: #777;
}

.bold {
  font-weight: bold;
}

.input {
  padding: 12rem 15rem;
  border-radius: 5rem;

  font-size: 16rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;

  outline: none;
  border: 2rem solid;
  border-color: var(--theme-neutral);
}

.overline {
  font-size: 14rem;
  letter-spacing: 10rem;
  color: var(--theme-primary);
}

.Toastify__toast-body div {
  font-family: 'Manrope', sans-serif;
  font-size: 14rem;
  white-space: pre-wrap;
}
